<!DOCTYPE html>
<html>
  <head>
    <title>AsQ - アスク</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
  <div id="container">
    <%= render "shared/header"%>
    <div id="container-inner">
      <p class="notice"><%= notice %></p>
      <%= render "shared/alert"%>
    <%= yield %>
    </div>
  </div>
  </body>
</html>
